.site-nav {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.prod {
  display: block;
  padding: 4em;
  padding-top: 0;
}

.prod h1 {
  text-align: center;
  padding: 3em;
}

.list {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  gap: 50px;
  justify-content: center;
  text-align: center;
}

.product p {
  display: none;
  background-color: #6b2428;
}

/*here you have to go over the bottle to see the description*/

.product:hover p {
  display: block;
}