/*
the colors that we need!

white color: #efefef;
grey color: #e7e3e0;
grey'isch color: #dbd4cf;
gold color: #d7b037;
red color: #6b2428;
bordeaux red color: #331014;

*/

/*-----for start we set the hole page with font, style and color------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
  
}

/*-----body arangement and color-----*/

body {
  margin: 0 auto;
  max-width: 1440px;
  display: block;
  background-color: #dbd4cf;
}

main {
  background-color: #e7e3e0;
}

/*for all the link I made them the same*/

a,
a:link,
a:active,
a:visited {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: #331014;
  color: #d7b037;
  padding: 15px;
}

a:hover,
a:focus {
  font-weight: bold;
  background-color: #d7b037;
  color: #331014;
  border-radius: 5px;
  transition: 0.5s;
}

/*-----logo, header and footer adjustment-----*/

.logo {
  padding-left: 20px;
  font-size: 30px;
}

header,
footer {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #331014;
  color: #d7b037;
  padding: 15px 0;
  font-size: 20px;
  font-weight: bold;
}

/* we use <nav> because both lists are the same header and footer */

nav li {
  display: inline;
  padding: 10px;
}

/*-----------------------------------------------------*/
/*---top-page with the wine bottle in the background---*/
/*-----------------------------------------------------*/

.top-site {
  position: relative;
  background-image: url(bilder/desktop-img.jpg);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  top: 40%;
}

.top-site h1 {
  position: absolute;
  line-height: 2;
  color: #d7b037;
  top: 35%;
  margin: 0 50px;
}

.top-site a {
  position: absolute;
  display: block;
  margin: 20px 0 0 50px;
  padding: 10px 30px;
  top: 50%;
}

/*-----------------------------------------------------*/
/*---section with the subscription link and the events link which takes you to Wine-Abo / events  page---*/
/*-----------------------------------------------------*/

.content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 50px;
}

.contenttxt h2, 
.contenttxt p {
  text-align: center;
  margin-bottom: 25px;
}

.contenttxt a {
  display: block;
  margin: 20px 180px;
  padding: 10px 30px;
  top: 50%;
}

/*-----------------------------------------------------*/
/*-------------------link to instagram-----------------*/
/*-----------------------------------------------------*/

.socialmedia {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
-here we have a smaller padding for the instagram link (button) from the rest.
-the rest the link will inherit from the main.
*/
.socialmedia a {
  font-size: 22px;
  padding: 10px;
  margin-bottom: 25px;
}

.newsletter {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.newsletter h4 {
  font-size: 20px;
  margin-top: 25px;
}

.newsletter > label {
  display: inline-block;
  margin: 35px 0;
}

.newsletter > input {
  max-width: 200px;
  border: none;
}

.newsletter button {
  display: block;
  font-size: 20px;
  background-color: #331014;
  color: #d7b037;
  border-radius: 5px;
  padding: 0 7px;
  margin: 0 auto 35px;
}

/*---===|||===---untill here is the first page---===|||===---*/



/*---Subscription---*/
/*
.abo h2 {
  text-align: center;
}

#price {
  background-color: #6b2428;
  color: #d7b037;
  padding: 0 15px;
  border: none;
  border-radius: 10px;
  display: flex;
}

.eventlinktokontakt {
  display: flex;
  flex-direction: column;
  margin: 30px;
  color: #d7b037;
}

.eventlinktokontakt button {
  background-color: #6b2428;
  color: #d7b037;
  padding: 5px 20px;
  border-radius: 10px;
}

.eventlinktokontakt a:hover {
  background-color: #d7b037;
  color: #6b2428;
  padding: 5px 20px;
  border-radius: 10px;
}

.eventlinktokontakt > .name,
.eventlinktokontakt > #price,
.eventlinktokontakt > .weiter {
  padding: 10px;
  margin: 10px;
}


/*---products---*/
/*
.prod {
  display: block;
  padding: 4em;
  padding-top: 0;
}

.prod h1 {
  text-align: center;
  padding: 3em;
}

.list {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  gap: 50px;
  justify-content: center;
  text-align: center;
}

/*---events---*/



/*--- contact ---*/
/*
.formular h1 {
  text-align: center;
  padding: 25px;
}

/*
the colors that we need!

white color: #efefef;
grey color: #e7e3e0;
grey'isch color: #dbd4cf;
gold color: #d7b037;
red color: #6b2428;
bordeaux red color: #331014;
*/
/*
.kontakt {
  display: block;
  background-color: #efefef;
  border: 6px solid #d7b037;
  border-radius: 15px;
  width: 700px;
  padding: 1rem;
  margin: 15px auto;
}

.kontakt div {
  margin-bottom: 1rem;
}

.kontakt label[for]{
  display: block;
}

input, textarea {
  width: 100%;
  border: none;
}

.kontakt textarea {
  font-size: 15px;
  border: 1px solid #CEE1E8;
}

.kontakt input:hover {
  border: 1px solid #6b2428;
  background-color: lightgoldenrodyellow;
}

.kontakt textarea:hover {
  border: 1px solid #6b2428;
  background-color: lightgoldenrodyellow;

}

.btncontact {
  margin-right: 25px;
  text-align: right;
}

.contactme {
  padding: 10px 25px;
  border: none;
  background-color: #6b2428;
  color: #d7b037;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.contactme:hover {
  background-color: #d7b037;
  color: #6b2428;
  font-weight: bold;
}

