/*
the colors that we need!

white color: #efefef;
grey color: #e7e3e0;
grey'isch color: #dbd4cf;
gold color: #d7b037;
red color: #6b2428;
bordeaux red color: #331014;

*/

          /*-----for start we set the hole page with font, style and color------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
  
}

          /*-----body arangement and color-----*/

body {
  margin: 0 auto;
  max-width: 1440px;
  display: block;
  background-color: #dbd4cf;
}

main {
  background-color: #e7e3e0;
}

/*for all the link I made them the same*/

h2 {
  text-align: center;
  padding: 25px;
}


a,
a:link,
a:active,
a:visited {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background-color: #331014;
  color: #d7b037;
  padding: 15px;
}

a:hover,
a:focus {
  font-weight: bold;
  background-color: #d7b037;
  color: #331014;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}

          /*-----logo, header and footer adjustment-----*/

.logo {
  padding-left: 20px;
  font-size: 20px;
}

header,
footer {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #331014;
  color: #d7b037;
  padding: 15px 0;
  font-size: 20px;
  font-weight: bold;
}

/* we use <nav> because both lists are the same header and footer */

nav li {
  display: inline;
  padding: 10px;
}


          /*---top-page with the wine bottle in the background---*/


.top-site {
  position: relative;
  background-image: url(bilder/desktop-img.jpg);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  top: 40%;
}

.top-site h1 {
  position: absolute;
  line-height: 2;
  color: #d7b037;
  top: 35%;
  margin: 0 50px;
}

.top-site a {
  position: absolute;
  display: block;
  margin: 20px 0 0 50px;
  padding: 10px 30px;
  top: 50%;
}


/*---section with the subscription link and the events link which takes you to Wine-Abo / events  page---*/


.content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 50px;
}

.contenttxt h2, 
.contenttxt p {
  margin-bottom: 25px;
}

.contenttxt a {
  display: block;
  margin: 20px 180px;
  padding: 10px 30px;
  top: 50%;
}

          /*-------------------link to instagram-----------------*/

.socialmedia {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
-here we have a smaller padding for the instagram link (button).
-the rest the link will inherit from the main.
*/

.socialmedia a {
  font-size: 22px;
  padding: 10px;
  margin-bottom: 25px;
}

.newsletter {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.newsletter h4 {
  font-size: 20px;
  margin-top: 25px;
}

.newsletter > label {
  display: inline-block;
  margin: 35px 0;
}

.newsletter > input {
  max-width: 200px;
  border: none;
}

.newsletter button {
  display: block;
  font-size: 20px;
  background-color: #331014;
  color: #d7b037;
  border-radius: 5px;
  padding: 0 7px;
  margin: 0 auto 35px;
}

/*-----------------------------------------------*/

.subscription {
  display: block;
  text-align: center;
  margin: 25px;
}

.subscription img {
  float: left;
}

.abonnieren {
  display: inline;
  margin: auto;
  font-weight: bold;
}

.name {
  margin: 25px;
  padding: 10px 25px;
  border: none;
}

.abonnieren button {
  font-weight: bold;
  padding: 10px;
  margin: 25px;
  background-color: #331014;
  color: #d7b037;
  border-radius: 10px;
  border: none; 
}

.abonnieren button:hover {
  font-weight: bold;
  background-color: #d7b037;
  color: #331014;
}
/*---------------------------------------------------*/

/*---products---*/

.products {
  display: block;
}
.products h1 {
  text-align: center;
  padding: 50px 0;
}

.products summary {
  text-align: center;
  padding: 50px;
  cursor: pointer;
}

.list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 50px;
  justify-content: center;
  text-align: center;
}

.product {
  background-color: #dbd4cf;
  padding-top: 25px;
}

/*---events---*/

.event1 {
  background-image: url(bilder/red-and-white-wine.jpg);
  background-size: cover;
  height: 100vh;
  color: #d7b037;
}

.event1 p {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.event2 {
  position: relative;
  background-image: url(bilder/bordeaux.jpg);
  background-size: cover;
  height: 100vh;
  color: #d7b037;
  text-align: center;
}

.event2 h2 {
  padding: 150px;
}

.event2 p {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 15px;
  padding: 10px;  
}

.event3 p {
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0 0 50px;
}
/*--- contact ---*/

.formular h1 {
  text-align: center;
  padding: 25px;
}

.kontakt {
  display: block;
  background-color: #efefef;
  border: 6px solid #d7b037;
  border-radius: 15px;
  width: 700px;
  padding: 1rem;
  margin: 15px auto;
}

input, textarea {
  width: 100%;
  border: none;
}

.kontakt textarea {
  font-size: 15px;
  border: 1px solid #CEE1E8;
}

.kontakt input:hover,
.kontakt textarea:hover {
  border: 1px solid #6b2428;
  background-color: lightgoldenrodyellow;
}

.btncontact {
  margin-right: 25px;
  text-align: right;
}

.contactme {
  padding: 10px 25px;
  border: none;
  background-color: #6b2428;
  color: #d7b037;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.contactme:hover {
  background-color: #d7b037;
  color: #6b2428;
  font-weight: bold;
}

.impressum {
  padding: 50px;
  line-height: 2;
}

.impressum a {
  font-size: initial;
  font-weight: initial;
  text-decoration: underline;
  text-transform: none;
  letter-spacing: normal;
  border: initial;
  border-radius: initial;
  background-color: initial;
  color: initial;
  padding: initial;
  transition: initial;
}

<<<<<<< HEAD

=======
>>>>>>> 5fe1183df132b10b8fdc9fa684a893975391bbcd
